.pos {
  position: absolute;
  left: 8%;
}
.usericon {
  position: absolute;
  left: 10px;
}
.firsticon{
  position: absolute;
  top: 105px;
  left: 10px;
}
.secicon{
  position: absolute;
  top: 195px;
  left: 10px;
}
.thirdicon {
  position: absolute;
  top: 285px;
  left: 10px;
}
.fourthicon {
  position: absolute;
  top: 375px;
  left: 10px;
}
.fifthicon{
  position: absolute;
  top: 465px;
  left: 10px;
}
.schoolstyle {
  position: absolute;
  margin-top: -10px;
  margin-left: 100px;
  font-size: 60px;
  color: pink;
}
.user {
  position: absolute;
  margin-left: 110px;
  top: 90px;
}
.rcorners1 {
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:600px;
  height: 1px;
  margin-top: 100px;
  margin-left: 195px  
}
.rcorners2 {
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:300px;
  height: 1px;
  margin-top: 125px;
  margin-left: 195px  
}
.rcorners3 {
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:100px;
  height: 1px;
  margin-top: 200px;
  margin-left: 195px  
}
.rcorners4 {
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:50px;
  height: 1px;
  margin-top: 225px;
  margin-left: 195px  
}
.rcorners5 {
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:80px;
  height: 1px;
  margin-top: 295px;
  margin-left: 195px  
}
.rcorners6 {
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:200px;
  height: 1px;
  margin-top: 395px;
  margin-left: 195px
}
.rcorners7{
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:195px;
  height: 1px;
  margin-top: 418px;
  margin-left: 195px
}
.rcorners8{
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:380px;
  height: 1px;
  margin-top: 490px;
  margin-left: 195px
}
.rcorners9 {
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:400px;
  height: 1px;
  margin-top: 515px;
  margin-left: 195px
}
.rcorners10 {
  position: absolute;
  border-radius: 25px;
  background: grey;
  padding: 8px;
  width:750px;
  height: 1px;
  margin-top: 540px;
  margin-left: 195px
}
.chatbox {
  float: right;
  margin-right: 10px;
  border-radius: 5px;
  background: lightgrey;
  padding: 1px; 
  width: 160px;
  height: 600px; 
}
